<!doctype html><html lang=""><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="icon" href="favicon.ico"><title>webshell</title><script defer="defer" src="js/chunk-vendors.acf1d8e7.js"></script><script defer="defer" src="js/app.4122c42f.js"></script><link href="css/chunk-vendors.652ef09d.css" rel="stylesheet"><link href="css/app.5d99b2e5.css" rel="stylesheet"></head><body style="background-color: #e4e7ed;"><noscript><strong>We're sorry but webshell doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id="app"></div></body></html><style>* {
    margin: 0;
    padding: 0;

  }</style>